/* CSS for citations */
div.csl-bib-body { }
div.csl-entry {
  clear: both;
}
.hanging-indent div.csl-entry {
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.3;
  margin-left:2em;
  margin-bottom: 1rem;
  text-indent:-2em;
	& a:link {
		color: #8c2e24 !important;
	}
	& a:visited {
		color: #8c2e24 !important;
	}
	& a:hover {
		color: #8c2e24 !important;
	}
	& a:active {
		color: #8c2e24 !important;
	}
}
div.csl-left-margin {
  min-width:2em;
  float:left;
}
div.csl-right-inline {
  margin-left:2em;
  padding-left:1em;
}
div.csl-indent {
  margin-left: 2em;