/*
h1: 2.5rem;
h2:	2.0rem;
h3:	1.7rem;
h4:	1.4rem;
h5:	1.2rem;
h6:	1.1rem;
*/

/*
$red:	#ff3636;
$dull-red: #8c2e24;
$rose:	#f33a6a;
$pink:	#fcebec;
$yellow:	#efcc00;
$pastel-yellow:	#fbe7c5;
$cornsilk:	#fff8dc;
$green:	#00ab37;
$dark-green:	#006400;
$bright-navy:	#2e55b0;
$pastel-blue:	#9fd2f7;
$tar-heel-blue:	#4b9cd3;
$aliceblue:	#f0f8ff;
$off-white:	#fffff8;
$floral-white:	#fffaf0;
$off-black:	#191919;
$grey:	#828282;
$grey20:	#333333;
$light-grey:	#d5d8dc;
$pastel-grey:	#d4cfbd;
*/

/* Grid */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

/* Grid */
@media (min-width: 992px) {
    body.docked .page-columns {
        grid-template-columns: [screen-start] 1.5em [screen-start-inset page-start] minmax(50px, 170px) [page-start-inset] 50px [body-start-outset] 50px [body-start] minmax(3em, 5fr) [body-content-start] minmax(300px, 800px) [body-content-end] minmax(3em, 5fr) [body-end] 50px [body-end-outset] minmax(0px, 100px) [page-end-inset] 50px [page-end] 7fr [screen-end-inset] 1.5em [screen-end] !important
    }
}

/* Base Font Size */
body {
    font-size: 16px;
}
@media (max-width: 767.98px) {
	body {
        font-size: 12px;
    }
}
@media(max-width:991.98px){
    body {
        font-size: 14px;
    }
}
@media(max-width:1199.98px){
    body {
        font-size: 16px;
    }
}
@media(min-width:1400px){
    body {
        font-size: 18px;
    }
}

/* HTML & BODY */
html {
	scroll-behavior: smooth;
}
body {
    font-family: "Literata",serif;
    color: #191919;
	font-weight: 300;
	text-align: left;
    line-height: 1.3;
	background-color: #fffaf0; 
    quotes: "‘" "’";
}

/* HEADINGS */
/* Chapter */
h1 {
	font-family: "Adelle-Sans",sans-serif;
	color: #8c2e24;
    font-size: 2.5rem;
    font-style: normal;
	font-weight: 600;
    line-height: 1.2;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
    border: none;
}
/* Section */
h2 {
	font-family: "Adelle-Sans",sans-serif;
	color: #8c2e24;
    font-size: 2.0em;
	font-style: normal;
	font-weight: 400;
    line-height: 1.2;
	margin: 3rem 0 0 0;
	padding: 0 0 0 0;
    border: none;
}
/* Subsection */
h3 {
    font-family: "Adelle-Sans",sans-serif;
	color: #8c2e24;
    font-size: 1.7em;
	font-style: italic;
	font-weight: 400;
    line-height: 1.2;
	margin: 2rem 0 0 0;
	padding: 0 0 0 0;
    border: none;

}
/* Title and cite of incorporated materials */
h4 {
    font-family: "Literata",serif;
	color: #8c2e24;
    font-size: 1.4em;
    font-style: normal;
	font-weight: 400;
    line-height: 1.2;
	margin: 1.5rem 0 0rem 0;
	padding: 0 0 0 0;
	max-width: 40rem;
	border-bottom: 1px solid #8c2e24;
}
/* Heading for editor's notes */
h5 {
    font-family: "Literata",serif;
	color: #8c2e24;
    font-size: 1.2em;
    font-style: normal;
	font-weight: 500;
    line-height: 1.2;
	text-align: left;
    margin: 1.5rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
}
/* Subsections within incorporated materials */
h6 {
    font-family: "Literata",serif;
    color: #191919;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.2;
	text-align: left;
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
}
/* Headings in Cases */
.case-judge {
    font-family: "Literata",serif;
    color: #191919;
    font-size: 1.1em;
    font-style: normal;
	font-weight: 400;
    line-height: 1.2;
	text-align: left;
    margin: 1rem 0 .5rem 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
	display: block;
}
.case-h1 {
    font-family: "Literata",serif;
    color: #191919;
    font-size: 1.1em;
    font-style: normal;
	font-weight: 400;
    line-height: 1.1;
	text-align: center;
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
	display: block;
}
.case-h2 {
    font-family: "Literata",serif;
    color: #191919;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 300;
    line-height: 1.1;
	text-align: center;
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
	display: block;
}
.case-h3 {
    font-family: "Literata",serif;
    color: #191919;
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.1;
	text-align: center;
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
	display: block;
}
.case-h4 {
    font-family: "Literata",serif;
    color: #191919;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.1;
	text-align: center;
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
	display: block;
}
.case-h5 {
    font-family: "Literata",serif;
    color: #191919;
    font-size: .9rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.1;
	text-align: center;
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
	display: block;
}

.title .chapter-number {
    color: #8c2e24;
    font-size: inherit;
    margin-right: .5rem;
}

#quarto-content #quarto-document-content .header-section-number {
	color: inherit;
	font-size: inherit;
	padding-right: .5rem;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
	text-transform: uppercase;
	margin-top: .5rem;
	font-size: .8rem;
	opacity: .8;
	font-weight: 300;
	display: none;
}
#title-block-header.quarto-title-block.default .quarto-title-meta-author {
	display: block;
}
#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
	font-size: .9rem;
}
#title-block-header.quarto-title-block.default .quarto-title-meta-contents p, #title-block-header.quarto-title-block.default .quarto-title-authors p, #title-block-header.quarto-title-block.default .quarto-title-affiliations p {
	font-size: .9rem;
	margin: 0 0 .1rem 0;
}

/* Body Text */
p {
    font-size: 1rem;
    margin: .5rem 0 .5rem 0;
	max-width: 40rem;
}

/* Links */
a {
	color: #8c2e24 !important;
    text-decoration: none;
}
/* unvisited link */
a:link {
	color: #8c2e24 !important;
}
/* visited link */
a:visited {
	color: #8c2e24 !important;
}
/* mouse over link */
a:hover {
	color: #4b9cd3 !important;
}
/* selected link */
a:active {
	color: #8c2e24 !important;
}
p > a, cite > a, span > a {
    color: #8c2e24;
    text-decoration: none;
}
/* Wrap long URLs in references */
#refs a {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Blockquotes */
.blockquote {
    margin: .5rem 0 .5rem 0;
    padding: 0 2rem 0 2rem;
	max-width: 40rem;
	border: none;
}
.blockquote p {
	color: #191919;
    font-size: 0.9rem;
    font-style: normal;
	line-height: 1.3;
	max-width: 40rem;
}


/* Comments within cases */
.editor-comment {
	font-family: "Adelle-Sans",sans-serif;
	font-size: .8rem;
	font-style: italic;
	display: block;
}

/* Notes following cases */
.note-h1 {
    font-family: "Literata",serif;
    color: #191919;
    font-size: 1.1em;
    font-style: normal;
	font-weight: 400;
    line-height: 1.1;
	text-align: left;
    margin: 1.7rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
	display: block;
}
.note-h2 {
    font-family: "Literata",serif;
    color: #191919;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 300;
    line-height: 1.1;
	text-align: left;
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
	display: block;
}
.note-h3 {
    font-family: "Literata",serif;
    color: #191919;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
	text-align: left;
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
	display: block;
}
.note-h4 {
    font-family: "Literata",serif;
    color: #191919;
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.1;
	text-align: left;
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
	display: block;
}

/* LEGAL CODE: Indented subsections in statutes, etc. */
.legal-code {
	font-family: "Literata",serif;
	color: #191919;
	font-size: .9rem;
	max-width: 40rem;
}
.legal-code-h1 {
    font-family: "Literata",serif;
    color: #191919;
    font-size: 1rem;
    font-style: normal;
	font-weight: 400;
    line-height: 1.1;
	text-align: left;
    margin: 1.5rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
	display: block;
}
.legal-code-h2 {
    font-family: "Literata",serif;
    color: #191919;
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2;
	text-align: left;
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
	display: block;
}
.legal-code-h3 {
    font-family: "Literata",serif;
    color: #191919;
    font-size: .9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
	text-align: left;
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
	display: block;
}
.legal-code-h4 {
    font-family: "Literata",serif;
    color: #191919;
    font-size: .9rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.1;
	text-align: left;
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
	max-width: 40rem;
    border: none;
    list-style: outside none none !important;
	display: block;
}
.legal-code p {
	font-size: .9rem;
}
.legal-code blockquote {
	font-size: .9rem !important;
    margin: .5rem 0 .5rem 0;
    padding: 0 0 0 1rem;
	width: inherit;
	border: none;
}
.legal-code blockquote p {
	font-size: .9rem !important;
    margin: .5rem 0 .5rem 0;
    padding: 0 0 0 1rem;
	width: inherit;
	border: none;
}

/* Lists */
ol, ul {
    font-size: .9rem;
    font-weight: 300;
	max-width: 40rem;
    margin: 0.5rem 0 0.5rem 1rem;
    padding: 0 0 0 1rem !important;
}
ul {
    list-style-type: disc;
}
li {
    font-size: .9rem;
    line-height: 1.3;
	max-width: 40rem;
    margin-bottom: 0.5rem;
}
.li p {
    font-size: .9rem;
	text-align: left;
	max-width: 40rem;
}
/* Unstyled Lists*/
.unstyled ul {
	margin: 1rem 0 1rem 1rem;
    list-style-type: none;
}
.unstyled li {
    padding-left: .5rem;
}

/* Divider */
hr {
    border-top: 2px solid #8c2e24;
    max-width: 40rem;
    margin: 2rem 0 1rem 0;
}


/* Footnotes & Asides */
.no-row-height.column-margin.column-container {
	height: 1em;
	overflow: visible;
}
.column-margin figcaption, .margin-caption, div.aside, aside, .column-margin {
	font-size: .8rem;
}
#quarto-content #quarto-document-content .footnote-ref {
	font-size: 1rem;
	font-weight: 300;
	padding: 0 .2rem 0 0;
}
.footnote-back {
	padding-left: .3em;
}
.column-margin.column-container p {
	font-family: "Literata",serif;
	color: #191919;
	font-size: .7rem;
	font-weight: 300;
	line-height: 1.2;
	margin: .2rem 0 0 0;
	padding: 0 0 0 0;
	position: relative;
}
.margin-aside {
	font-family: "Adelle-Sans",sans-serif;
	color: #006400;
	font-size: .7rem;
	font-weight: 300;
	line-height: 1.2;
	margin: 1rem 0 .5rem 0;
	padding: 0 0 0 0;
	position: relative;
}

/* Sidebar */
#quarto-sidebar,
#quarto-content .sidebar-navigation {
    &.docked {
        background-color: #fffaf0;
    }
    .sidebar-item-container {
        margin-bottom: 0.5em;      
	a:link {
	  color: #333333 !important;
	}
	a:visited {
	  color: #333333 !important;
	}
	a:hover {
	  color: #4b9cd3 !important;
	}
	a:active {
	  color: #8c2e24 !important;
	}
    }
    code {
        font-size: inherit;
        color: inherit;
        background-color: transparent;
    }
    a,
    .chapter-number {
        color: #333333 !important;
    }
    .chapter-number {
        font-weight: 400;
    }
    .sidebar-item-section {
        margin-bottom: .7em;
    }
    .sidebar-item+.sidebar-item-section {
        margin-top: 1.2em;
    }
    .sidebar-item-section>.sidebar-item-container:first-child, {
        font-weight: 500 !important;
    }
    .sidebar-item-section>.sidebar-item-container:first-child a,
    .sidebar-item-section>.sidebar-item-container:first-child a.active,
    .sidebar-item-section>.sidebar-item-container:first-child a:hover {
        font-weight: 500 !important;
        color: #8c2e24;
        background-color: transparent;
        cursor: pointer;
    }
}

#quarto-sidebar {
	background-color: #fffaf0;
    border-color: #d5d8dc !important;
    #quarto-search {
        form {
            border-color: #d5d8dc !important;
            background-color: #fffff8 !important;
        }
        form,
        svg,
        input {
            color: #333333 !important;
        }
    }
}
#quarto-sidebarnav-toggle+#quarto-sidebar,
#quarto-toc-toggle+#quarto-sidebar {
    border: none !important;
}
#quarto-sidebar a, #quarto-sidebar .chapter-number, #quarto-content .sidebar-navigation a, #quarto-content .sidebar-navigation .chapter-number {
	color: #333333;
	a:visited {
	  color: #333333;
	}
	a:hover {
	  color: #4b9cd3 !important;
	}
	a:active {
	  color: #8c2e24 !important;
	}
}
#quarto-sidebar .sidebar-title {
	font-family: "Adelle-Sans",sans-serif !important;
	color: #8c2e24 !important;
	font-size: 1.5rem;
	line-height: 1.3;
	margin-top: .25rem;
	padding-bottom: .5rem;
	visibility: visible;
	& a:link {
	  color: #8c2e24 !important;
	}
	& a:visited {
	  color: #8c2e24 !important;
	}
	& a:hover {
	  color: #4b9cd3 !important;
	}
	& a:active {
	  color: #8c2e24 !important;
	}
}

.sidebar-title .sidebar-tools-main {
	margin-top: .25rem;
}

.sidebar-tools-main {
	display: flex;
	margin-left: 0px;
	order: 2;
}

/* Table of contents */
#quarto-margin-sidebar,
#quarto-content .margin-sidebar,
#quarto-sidebar #TOC {
    code {
        font-size: inherit;
        color: inherit;
    }
    ul {
	& a:link {
	  color: #333333 !important;
	}
	& a:visited {
	  color: #333333 !important;
	}
	& a:hover {
	  color: #4b9cd3 !important;
	}
	& a:active {
	  color: #8c2e24 !important;
	}
        & a {
            border: none !important;
        }
    }
    a:hover {
        color: #4b9cd3 !important;
    }
    ul>li>ul>li>a {
        padding: 0.1em 0 0.1em 2em !important;
        font-size: inherit !important;
        opacity: 95% !important;
    }
}
/* toc-location: body */
#quarto-document-content #TOC {
    margin-bottom: 3em !important;
    h2 {
        font-size: 1.2em !important;
        margin-bottom: 0.3em !important;
    }
    >ul {
        margin-left: 1em !important;
    }
    ul {
        border: none !important;
        list-style-type: none !important;
        font-size: 95% !important;
        li {
            &::before {
                content: "";
            }
            margin-bottom: 0 !important;
        }
    }
    ul ul {
        padding-left: 1.5em !important;
        border: none !important;
        margin-bottom: 0 !important;
    }
}

/* Content */
#quarto-content {
    /* Reader mode toggles */
    .margin-sidebar.quarto-sidebar-toggle-contents {
        background-color: #fffaf0 !important;
        color: #333333 !important;
    }
    .quarto-sidebar-toggle {
        background-color: #d5d8dc !important;
        border-color: #d5d8dc !important;
    }
    .quarto-sidebar-toggle-title {
        background-color: #fffaf0 !important;
        color: #333333 !important;
    }
    .quarto-sidebar-toggle.expanded .quarto-sidebar-toggle-title {
        border-bottom-color: #d4cfbd;
    }
    .quarto-sidebar-toggle-contents {
        background-color: #fffaf0 !important;
    
    .quarto-sidebar-toggle+#quarto-sidebar {
        background-color: #fffaf0 !important;
    }
    /* Bottom page navigation */
    .page-navigation {
        a {
            color: #8c2e24 !important;
        }
        code {
            color: #8c2e24 !important;
            background-color: #fcebec;
            #d5d8dc: #fcebec;
        }
    }
}

/* Document content */
#quarto-document-content {
    #title-block-header .quarto-title-meta-contents a {
        color: #191919;
    }
    a,
    .btn-link {
        color: #8c2e24 !important;
        text-decoration: none;
    }
    a:not(.nav-link):hover,
    .btn-link:hover {
        text-decoration: underline;
    }
    a.anchorjs-link:hover {
        text-decoration: none;
    }
    strong {
        font-weight: 400;
    }
    #title-block-header {
        margin-block-end: 2rem;
    }
    .header-section-number {
        color: inherit;
    	font-size: inherit;
        padding-right: 0.5em;
    }

	/* Figures & Images */
	.quarto-figure {
	position: relative;
	margin-bottom: 1em;
	max-width: 40rem;
	}
	figure {
	margin: 2rem auto 2rem auto;
	padding: 0 0 0 0 !important;
	max-width: 40rem;
	img {
	border: #d5d8dc !important;
	box-shadow: #d5d8dc !important;
	max-width: 100%;
	height: auto;
	margin: 0 auto 0 auto;
	}
	figcaption {
	font-family: "Adelle-Sans",sans-serif;
	color: #191919;
	font-style: normal !important;
	font-size: 0.9em;
	text-align: center !important;
	margin: 0 auto 0 auto !important;
	padding: .3rem 0 0 0 !important;
	}
	}
	figure > img {
	display: block;
	}
	img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	}
	p>img {
	margin: 0.5em auto 1.0em auto;
	display: block;
	max-width: 100%;
	height: auto;
	}

    /* Tables */
    table,
    .pagedtable-wrapper,
    .dataTables_wrapper {
        font-size: 0.9em;
        margin-top: 0;
        margin-bottom: 2rem;
    }
    table {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        thead {
            th {
                box-shadow: none;
            }
        }
        th,
        td {
            padding: .3em 1em;
        }
        thead,
        tbody {
            tr {
                border-top: none;
            }
            tr:first-child {
                border-top: 1px solid #828282;
            }
            tr:last-child {
                border-bottom: 1px solid #828282;
            }
        }
        tbody {
            border-top: none;
            tr:hover {
                background-color: #d4cfbd !important;
                box-shadow: none !important;

                td {
                    box-shadow: none !important;
                }
            }
        }
    }
    .table {
        tr {
            border-color: #d5d8dc;
        }
    }
    .pagedtable table {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    /* DT */
    .dataTables_wrapper,
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate,
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        color: #191919 !important;
    }
    .dataTable {
        &.no-footer {
            border-bottom-color: #828282;
        }
        th {
            border-color: #828282;
        }
        tr {
            border-color: #d5d8dc;
        }
        tbody {
            td {
                border-color: #d5d8dc;
            }
            tr.even {
                background-color: #fff8dc;
            }
            tr.odd {
                background-color: #d4cfbd;

                td {
                    box-shadow: none;
                }
            }
        }
    }

    /* Code */
    pre,
    code {
        font-size: .95em;

        a {
            color: inherit;
        }
    }
    p>code,
    a code,
    ul code,
    ol code {
        color: #8c2e24 !important;
        background-color: #fcebec !important;
        #d5d8dc: #fcebec !important;
        padding: 2px 4px;
        font-size: 85%;
        border-radius: 4px;
    }
    pre {
        color: #8c2e24 !important;
        background-color: #fcebec !important;
        border-radius: 6px;
        padding: .8em 1.2em;
    }
    div.sourceCode {
        color: #8c2e24 !important;
        background-color: #fcebec !important;
        border-radius: 6px;
        margin-bottom: 1.6em;
        border: none;
    }
    .code-annotation-gutter {
        background-color: #fcebec !important;
    }
    a.code-annotation-anchor:hover {
        text-decoration: none;
    }
    code {
        span.kw,
        span.cf {
            font-weight: 400;
        }
        span.kw,
        span.cf,
        span.op,
        span.er {
            color: #009ad2;
            text-decoration: none;
        }
        span.co,
        span.do {
            color: #fcebec;
            font-style: normal;
        }
    }

    /* Lists 
    ul:not(.nav) {
        margin: 0 0 1.5em 0;
        padding: 0 0 0 2em;
        list-style-type: none;
    }
    ul:not(.nav):not(.task-list)>li {
        text-indent: -1.1em;
        margin-bottom: .5em;
    }
    ul:not(.nav):not(.task-list)>li::before {
        content: "— ";
    }
	*/

    /* Callouts */
    .callout {
        padding: .5em;
        color: #333333;
        .callout-header {
            font-weight: 600;
            font-size: 110%;
            margin-bottom: .5em;
            background: none;
        }
        .callout-body {
            font-weight: 400;
        }
        .callout-icon::before {
            height: 1.1rem;
            width: 1.1rem;
            background-size: 1.1rem 1.1rem;
        }
        /* Inline code in callout */
        p>code,
        a code,
        ul code,
        ol code {
            color: #333333
            background-color: transparent;
            border: none;
            padding: 2px 4px;
            font-size: 100%;
        }
    }
    .callout-warning {
        background-color: #fbe7c5;
        border-top-color: #fbe7c5;
        border-right-color: #fbe7c5;
        border-bottom-color: #fbe7c5;
        .callout-header {
            color: #efcc00;
        }
    }
    .callout-note {
        background-color: #f0f8ff;
        border-top-color: #f0f8ff;
        border-right-color: #f0f8ff;
        border-bottom-color: #f0f8ff;
        .callout-header {
            color: #2f65b8;
        }
    }
    .callout-important {
        background-color: #fcebec;
        border-top-color: #fcebec;
        border-right-color: #fcebec;
        border-bottom-color: #fcebec;
        .callout-header {
            color: #f33a6a;
        }
    }
    .callout-caution {
        background-color: #fcebec;
        border-top-color: #fcebec;
        border-right-color: #fcebec;
        border-bottom-color: #fcebec;
        .callout-header {
            color: #f33a6a;
        }
    }
    .callout-tip {
        background-color: #f0f8ff;
        border-top-color: #f0f8ff;
        border-right-color: #f0f8ff;
        border-bottom-color: #f0f8ff;
        .callout-header {
            color: #2e55b0;
        }
    }

    /* Leaflet */
    .leaflet-container {
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .leaflet .leaflet-control-container a {
        background-color: #fffaf0;
        color: #191919;
    }
    .leaflet a:hover {
        text-decoration: none;
    }
}

/* Header secondary nav */
header {
    .quarto-secondary-nav {
        background-color: #fffaf0 !important;
        color: #191919 !important;
        border-bottom: 1px solid #d5d8dc !important;
        a,
        .btn,
        code {
            color: #191919 !important;
        }

    }
}

/* Footnotes */
#footnotes {
    .footnote-back {
        font-family: "LFT-Etica-Mono",monospace;
    }
}

/* Listings */
#quarto-document-content {
    .quarto-listing {
        a {
            color: currentColor;
            &:hover {
                text-decoration: none;
            }
        }
        .card {
            box-shadow: 0 16px 16px #d5d8dc;
            transition: all 0.3s ease-out;
            background-color: #fffaf0;
            color: #191919;
            border-color: #d5d8dc;
            &:hover {
                transform: translateY(-5px) scale(1.005) translateZ(0);
                box-shadow: 0 26px 26px #d4cfbd;
            }
        }
    }
}
}

/* FRONT MATTER */
/* Casebook Cover */
.titlepage {
    padding: 0 0 0 0;
}
.index h1 {
	color: transparent;
	display: none;
}
.hidden {
	color: transparent;
	display: none;
}
.hidden h1 {
	color: transparent;
}

/* Book Title */
.titlepage h2 {
    font-family: "Adelle-Sans",sans-serif;
    color: #8c2e24;
    font-size: 2rem;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
	margin: 1.2rem 0 0 0;
    padding: 0 0 0 0;
}
/* Book Subtitle */
.titlepage h3 {
    font-family: "Adelle-Sans",sans-serif;
    color: #8c2e24;
    font-size: 1.3rem;
    font-style: normal;
	font-weight: 400; 
    text-align: left;
	margin: 1rem 0 0 0;
    text-transform: uppercase;
	border: none;
}
/* Book Author */
.titlepage h4 {
    font-family: "Adelle-Sans",sans-serif;
    color: #8c2e24;
    font-size: 1.3rem;
    font-style: normal;
	font-weight: 400; 
    text-align: left;
	margin: 4rem 0 0 0;
    text-transform: uppercase;
	border: none;
}
/* Book Institution & Date */
.titlepage h5 {
    font-family: "Adelle-Sans",sans-serif;
    color: #8c2e24;
    font-size: 1.3rem;
    font-style: normal;
	font-weight: 400; 
    text-align: left;
	margin: 1rem 0 0 0;
    text-transform: uppercase;
	border: none;
}

/* License */
.license {
    font-family: "Literata",serif;
    font-size: .8rem;
    text-align: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.license i {
	font-size: .7rem;
	margin: 0 0 0 0;
}
.license p {
    font-size: .7rem;
    text-align: left;
    line-height: 1.2;
	max-width: 25rem;
	margin: .5 0 .5rem 0;
	padding: 0 0 0 0;
}
.license h2 {
    font-family: "Literata",serif;
	color: #191919;
    font-size: .7rem;
	margin: .5rem 0 0 0;
	padding: 0 0 0 0;
}
.license h3 {
    font-family: "Literata",serif;
	color: #191919;
    font-size: .7rem;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.license h4 {
    font-family: "LFT-Etica-Mono",monospace;
	color: #191919;
    font-size: .7rem;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: none;
}
.license hr {
    border-top: 2px solid #8c2e24;
    max-width: 35rem;
    margin: 2rem 0 1rem 0;
}

/* Epigraph */
.epigraph {
    font-family: "Literata",serif !important;
    width: 30rem !important;
	margin: 1rem 0 0 0 !important;
	padding: 1rem 0 0 0 !important;
}
.epigraph h2 {
	font-size: 2px !important;
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;
}
/* Epigraph Quote */
.epigraph .blockquote {
	font-size: .9rem !important;
    text-align: left !important;
    line-height: 1.3 !important;
    margin: 0.25rem 0;
    padding: 0.35rem 10px;
    position: relative !important;
    border: none !important;
}
.epigraph .blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #8c2e24;
}
.epigraph .blockquote p {
	font-size: .9rem !important;
    font-style: italic !important;
	font-weight: 300;
    text-align: left !important;
    margin: 0 0 0 0 !important;
	padding: 0 0 0 1rem !important;
    display: block;
}
/* Epigraph Citation */
.epigraph p {
	font-size: .9rem !important;
	font-weight: 300;
    text-align: right !important;
    margin: 0 0 1rem 0 !important;
	padding: 0 0 0 0 !important;
}
.epigraph figure {
	margin: 0em auto 0 auto !important;
	width: 30rem !important;
	& img {
	text-align: center !important;
	margin: 0 auto 0 auto !important;
	padding: 0 0 0 0 !important;
	width: 20rem !important;
}
	& figcaption {
	font-size: .8rem !important;
	width: 20rem !important;
	}
}
.epigraph figure > p:first-child {
	margin: 0 0 0 0 !important;
}

/* Preface */
/* Preface headings */
.preface h1 {
	color: transparent;
    display: none;
}
.preface h2 {
	margin: 3rem 0 0 0;
}
.preface h3 {
    font-family: "Adelle-Sans",sans-serif;
	margin: 1rem 0 0 0;
}

/* REAR MATTER */
/* Colophon */
.colophon {
    font-family: "Literata",serif;
    font-size: 0.8rem;
    text-align: left;
}
.colophon p {
    font-size: 1rem;
    text-align: left;
    line-height: 1.3;
}

/* FOOTER */
footer {
	background: #fffaf0;
}
footer.footer .nav-footer, #quarto-header > nav {
	padding-left: 1em;
	padding-right: 1em;
	background: #fffaf0;
}
.nav-footer .nav-footer-center {
	font-size: .8em;
	background: #fffaf0;
}
.nav-footer .toc-actions {
	margin: 0 0 0 0;
	padding-bottom: .5em;
	padding-top: .5em;
}
body:not(.floating) {
    .nav-footer {
        border-top: 1px solid #d5d8dc !important;
    }
}

/* SPECIAL STYLES */

/* Colors */
.theme-color { /* emulates link */
    color: #8c2e24;
}
.link-color { /* emulates link */
    color: #8c2e24;
}
.contrast {
    color: #8c2e24;
}
.invisible {
    color: transparent !important;
	font-size: 2px !important;
	line-height: .2 !important;
	margin: 0 0 0 0 !important;
}

/* Icons */
.fa-gavel {
	color: #8c2e24;
}
.fa-section {
	color: #8c2e24;
}
.fa-book {
	color: #8c2e24;
}
.margin-note { /* emulates link */
	font-family: "Adelle-Sans",sans-serif;
    color: #006400;
	font-weight: 300;
}
.large {
    font-size: 1.3rem;
}
.larger {
    font-size: 1.5rem;
}
.largest {
    font-size: 1.7rem;
}
.small {
    font-size: 0.9rem;
}
.smaller {
    font-size: 0.8rem;
}
.center {
	text-align: center;
}
.center-icon {
	text-align: center;
	margin: 0 auto 0 auto;
	color: #8c2e24;
	width: 40rem;
}
.sans-serif {
    font-family: "Adelle-Sans",sans-serif;
    font-style: normal;
}
.mono-face {
    font-family: "LFT-Etica-Mono",monospace;
    font-weight: 400;
    font-style: normal;
}
.japanese {
    font-family: "Noto Sans JP",sans-serif;
    font-weight: 400;
    font-style: normal;
}